<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="server=a944985f-4793-4c53-8fd9-a0de0101545a.mysql.sequelizer.com;database=dba944985f47934c538fd9a0de0101545a;uid=vkmkcybarhgkyafv;pwd=cGHDH5NTFXYFsatGaiNhqjh2NVTsCZ6B2VWXM355US3rhEPQ7RxWueH2yPYVkuqN" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
	<appSettings>
		<add key="Environment" value="Debug"/>
		<add key="DebugEmail" value="0"/>
		<add key="UserName" value="AppAddonUser"/>
		<add key="UserPassword" value="AppAddonPassword"/>
		<add key="SSO_SALT" value="bof"/>
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
	</system.web>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
