@{
    ViewBag.Title = "Edit";
}
@model AddonTemplate.Web.Controllers.Test
<h2>Edit</h2>
 @using (Html.BeginForm("Index", "Resource", FormMethod.Post, new { @class = "form-horizontal" }))
 {
     <input type="submit" value="Create"/>
 }

<p>Id: @Model.ID</p>